empleado_ia_chat_workflow.json
{
  "name": "Empleado IA - Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": ":businessSlug",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2a1b1c1d-0001-4000-8000-000000000001",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst businessSlug = ($json.params && $json.params.businessSlug) || 'default';\n\nreturn [{\n  json: {\n    business_slug: businessSlug,\n    client_id: body.client_id,\n    client_name: body.client_name,\n    business_id: body.business_id,\n    system_prompt: body.system_prompt || '',\n    message: body.message || '',\n    image_url: body.image_url || null,\n    history: Array.isArray(body.history) ? body.history : []\n  }\n}];"
      },
      "id": "2a1b1c1d-0002-4000-8000-000000000002",
      "name": "Preparar datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "2a1b1c1d-0003-4000-8000-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "options": {}
      },
      "id": "2a1b1c1d-0004-4000-8000-000000000004",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -280,
        260
      ],
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.client_id }}",
        "tableName": "n8n_chat_histories",
        "contextWindowLength": 10
      },
      "id": "2a1b1c1d-0005-4000-8000-000000000005",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -280,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "2a1b1c1d-0006-4000-8000-000000000006",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "title": "={{ $fromAI('sheet_title', 'Nombre de la hoja a crear') }}"
      },
      "id": "2a1b1c1d-0007-4000-8000-000000000007",
      "name": "Create sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        100,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "code_tool",
        "description": "Herramienta personalizada. IMPORTANTE: el contenido original de este Code Tool se perdió junto con el workflow — esto es un placeholder, reemplázalo con tu lógica real.",
        "jsCode": "// TODO: reconstruir la lógica original de este Code Tool\nreturn { result: 'pendiente de configurar' };"
      },
      "id": "2a1b1c1d-0008-4000-8000-000000000008",
      "name": "Code Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        260,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nlet reply = response.output || response.text || '';\n\n// Fix: Groq a veces expone etiquetas de function-calling en el texto plano\nreply = reply\n  .replace(/<function[^>]*>[\\s\\S]*?<\\/function>/gi, '')\n  .replace(/<\\|[^|]*\\|>/g, '')\n  .replace(/```json[\\s\\S]*?```/g, '')\n  .trim();\n\nif (!reply) {\n  reply = 'No pude generar una respuesta, intenta de nuevo.';\n}\n\nreturn [{\n  json: {\n    reply: reply,\n    image_url: null,\n    appointment: null\n  }\n}];"
      },
      "id": "2a1b1c1d-0009-4000-8000-000000000009",
      "name": "Limpiar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "2a1b1c1d-0010-4000-8000-000000000010",
      "name": "Responder al backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Preparar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Limpiar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar respuesta": {
      "main": [
        [
          {
            "node": "Responder al backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}