n8n_workflows/empleado_ia_buscar_contacto_wsp.json
{
  "name": "Empleado IA - Buscar Contacto y Enviar WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buscar-contacto-wsp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a1a1a1a-0001-4000-8000-000000000001",
      "name": "Recibir Solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "webhookId": "buscar-contacto-wsp"
    },
    {
      "parameters": {
        "url": "https://people.googleapis.com/v1/people:searchContacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "" },
            { "name": "readMask", "value": "names,phoneNumbers" }
          ]
        },
        "options": {}
      },
      "id": "1a1a1a1a-0002-4000-8000-000000000002",
      "name": "Warmup Cache Contactos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 300],
      "credentials": {
        "googleOAuth2Api": { "id": "REEMPLAZAR", "name": "Google Contacts OAuth2" }
      }
    },
    {
      "parameters": {
        "url": "https://people.googleapis.com/v1/people:searchContacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $('Recibir Solicitud').item.json.body.nombre_buscado }}" },
            { "name": "readMask", "value": "names,phoneNumbers" }
          ]
        },
        "options": {}
      },
      "id": "1a1a1a1a-0003-4000-8000-000000000003",
      "name": "Buscar Contacto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 300],
      "credentials": {
        "googleOAuth2Api": { "id": "REEMPLAZAR", "name": "Google Contacts OAuth2" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.results?.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a1a1a1a-0004-4000-8000-000000000004",
      "name": "Encontro Contacto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://TU_SERVIDOR_EVOLUTION/message/sendText/TU_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "TU_API_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.results[0].person.phoneNumbers[0].canonicalForm.replace('+',''), text: $('Recibir Solicitud').item.json.body.mensaje || 'Hola, tienes un mensaje de Empleado IA.' }) }}",
        "options": {}
      },
      "id": "1a1a1a1a-0005-4000-8000-000000000005",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'enviado', contacto: $('Recibir Solicitud').item.json.body.nombre_buscado } }}",
        "options": {}
      },
      "id": "1a1a1a1a-0006-4000-8000-000000000006",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 404,
        "responseBody": "={{ { status: 'error', motivo: 'Contacto no encontrado: ' + $('Recibir Solicitud').item.json.body.nombre_buscado } }}",
        "options": {}
      },
      "id": "1a1a1a1a-0007-4000-8000-000000000007",
      "name": "Respuesta Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 420]
    },
    {
      "parameters": {
        "content": "## Configura antes de usar\n\n1. **Credencial Google**: crea/edita una credencial OAuth2 de Google con el scope `https://www.googleapis.com/auth/contacts.readonly` y selecciónala en los 2 nodos de Google Contacts (reemplaza el id 'REEMPLAZAR').\n2. **Nodo 'Enviar WhatsApp'**: reemplaza `TU_SERVIDOR_EVOLUTION`, `TU_INSTANCIA` y `TU_API_KEY` por tus valores reales.\n3. **Para probar**: activa el workflow y manda un POST al webhook `/buscar-contacto-wsp` con body:\n```json\n{\n  \"nombre_buscado\": \"Juan\",\n  \"mensaje\": \"Hola Juan, este es tu recordatorio\"\n}\n```",
        "height": 420,
        "width": 440
      },
      "id": "1a1a1a1a-0008-4000-8000-000000000008",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, -180]
    }
  ],
  "connections": {
    "Recibir Solicitud": {
      "main": [[{ "node": "Warmup Cache Contactos", "type": "main", "index": 0 }]]
    },
    "Warmup Cache Contactos": {
      "main": [[{ "node": "Buscar Contacto", "type": "main", "index": 0 }]]
    },
    "Buscar Contacto": {
      "main": [[{ "node": "Encontro Contacto", "type": "main", "index": 0 }]]
    },
    "Encontro Contacto": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "Respuesta Error", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [[{ "node": "Respuesta OK", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "empleado-ia-contactos-wsp"
  }
}
