n8n_workflows/empleado_ia_recordatorios_programados.json
{
  "name": "Empleado IA - Recordatorios Programados",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "2b2b2b2b-0001-4000-8000-000000000001",
      "name": "Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, contact_name, message FROM reminders WHERE due_at <= NOW() AND sent = false;",
        "options": {}
      },
      "id": "2b2b2b2b-0002-4000-8000-000000000002",
      "name": "Buscar Recordatorios Pendientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-160, 300],
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "Postgres - Empleado IA" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/buscar-contacto-wsp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ nombre_buscado: $json.contact_name, mensaje: $json.message }) }}",
        "options": {}
      },
      "id": "2b2b2b2b-0003-4000-8000-000000000003",
      "name": "Enviar Recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE reminders SET sent = true, sent_at = NOW() WHERE id = {{ $('Buscar Recordatorios Pendientes').item.json.id }};",
        "options": {}
      },
      "id": "2b2b2b2b-0004-4000-8000-000000000004",
      "name": "Marcar Como Enviado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [320, 300],
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "Postgres - Empleado IA" }
      }
    },
    {
      "parameters": {
        "content": "## Este workflow es independiente\n\nNo se conecta con el webhook del chat entrante. Solo llama al webhook `buscar-contacto-wsp` (el mismo que ya probaste) desde adentro, por eso usa `http://localhost:5678` — mismo contenedor de n8n.\n\n## Antes de activar\n\n1. **Ajusta la query SQL** de 'Buscar Recordatorios Pendientes' a tu tabla real (nombres de columnas: `id`, `contact_name`, `message`, `due_at`, `sent`). Si guardas los recordatorios en Sheets en vez de Postgres, cambia ese nodo por 'Google Sheets' con el mismo filtro.\n2. **Credencial Postgres**: selecciona la misma que usas en el resto de Empleado IA.\n3. **Intervalo**: por defecto corre cada hora, ajústalo en 'Cada Hora' según qué tan seguido revisas recordatorios pendientes.\n4. **Activa el workflow** (toggle arriba a la derecha) para que el Schedule Trigger funcione — con el workflow inactivo no dispara solo.",
        "height": 420,
        "width": 460
      },
      "id": "2b2b2b2b-0005-4000-8000-000000000005",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, -180]
    }
  ],
  "connections": {
    "Cada Hora": {
      "main": [[{ "node": "Buscar Recordatorios Pendientes", "type": "main", "index": 0 }]]
    },
    "Buscar Recordatorios Pendientes": {
      "main": [[{ "node": "Enviar Recordatorio", "type": "main", "index": 0 }]]
    },
    "Enviar Recordatorio": {
      "main": [[{ "node": "Marcar Como Enviado", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "empleado-ia-recordatorios-programados"
  }
}
